.color .card-type-statement { background-color: white; }
.color .card-type-controlflow { background-color: #dfd; }
.color .card-type-hack { background-color: #fdd; }
.color .card-type-event { background-color: #dff; }