*, *:before, *:after { box-sizing: border-box; }

@page {
	size: A4;
	margin: 0mm;
}

/*	@page :left {
	margin-left:;
}
*/

body {
	margin: 0;
	padding: 0;
}

.page {
	margin: 0;
	padding: 4.5mm;
	width: 210mm;
	height: 297mm;
	page-break-after: always;
}
.page:after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 12px;
}

.card {
	position: relative;
	padding: 3mm;
	width: 33.333333333%;
	height: 10%;
	border: 1px solid black;
	font-family: Courier;
	font-size: 16px;
	float: left;
}

.card-type-statement { background-color: white; }
.card-type-controlflow { background-color: #B3F4E6; }
.card-type-hack { background-color: #FFCCCC; }
.card-type-event { background-color: #D4FFFF; }

.text {
	font-size: 14px;
	font-weight: 700;
	width: 100%;
	line-height: 2;
}

.description {
	font-size: 10px;
	line-height: 1.5;
}

.background {
	width: calc(100% - 6mm);
	height: calc(100% - 6mm);
	display: table-cell;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	font-size: 32px;
	top: calc(100% - 38px);
	text-align: right;
	color: #cccccc;
}

span {
	display: inline-block;
}
